# dependencies
node_modules
.pnpm-store

# builds
.next
dist
coverage

# env / secrets
.env
.env.*
!.env.example
!.env.docker.example
!apps/api/.env.example
!apps/web/.env.example

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
.idea
.vscode

# generated caches
*.tsbuildinfo
